<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="galaxyrun"
    android:versionCode="2"
    android:versionName="1.0">
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true">
    </supports-screens>
    <application android:label="@string/app_name" android:icon="@mipmap/ic_launcher">
        <activity android:name="com.galaxyrun.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.galaxyrun.activity.GameActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden">
        </activity>
    </application>
</manifest>
